.widget-container.fluid-height.stf-remote-debug(ng-controller='RemoteDebugCtrl')
  .heading
    stacked-icon(icon='fa-bug', color='color-darkgreen')
    span(translate) Remote debug
    help-icon(topic='Remote-Debug', tooltip='{{remoteDebugTooltip | translate}}')

  .widget-content.padded
    .form-inline
      textarea(readonly, rows='1', ng-model='connectCommand', msd-elastic, text-focus-select).form-control.remote-debug-textarea
      textarea(readonly, rows='1', ng-model='shellCommand', msd-elastic, text-focus-select).form-control.remote-debug-textarea
